<div class="container">
  <div class="registration row">
    <div class="col-md-6 offset-md-3">
      <h2 class="registration-header">Edit <%= resource_name.to_s.humanize %></h2>

      <div class="registration-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <h4 class="registration-header"><%= resource.email %></h4>

          <div class="registration-personalData">
            <div class="registration-field">
              <%= f.label :first_name, class: 'registration-label' %>
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="registration-field">
              <%= f.label :last_name, class: 'registration-label' %>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="registration-password">
            <p align="center">Leave blank if you don't want to change it</p>
            <div class="registration-field">
              <%= f.label :password, class: 'registration-label' %>
              <% if @minimum_password_length %>
                <i>(<%= @minimum_password_length %> characters minimum)</i>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="registration-field">
              <%= f.label :password_confirmation, class: 'registration-label' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>

            <hr/>

            <div class="registration-field">
              <%= f.label :current_password, class: 'registration-label' %>
              <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: 'registration-button btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
