<div class="container">
  <div class="registration row">
    <div class="col-md-6 offset-md-3">
      <h2 class="registration-header">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if flash[:recaptcha_error] %>
        <%= flash[:recaptcha_error] %>
      <% else %>
        <%= devise_error_messages! %>
      <% end %>

      <div class="registration-personalData">
        <div class="registration-field">
        <%= f.label :first_name, class: 'registration-label' %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "John" %>
        </div>

        <div class="registration-field">
          <%= f.label :last_name, class: 'registration-label' %><br />
          <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: "Kovalsky" %>
        </div>

        <div class="registration-field">
          <%= f.label :email, class: 'registration-label' %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <div class="registration-password">
        <div class="registration-field">
          <%= f.label :password, class: 'registration-label' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "off"%>
        </div>
        
        <div class="registration-field">
          <%= f.label :password_confirmation, class: 'registration-label' %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
        </div>
      </div>
      
      <div class="registration-captcha">
        <%= recaptcha_tags %>
      </div>
      <%= f.submit "Sign up", class: 'btn btn-primary btn-block' %>
    <% end %>
    <%= link_to 'Back', root_url, role: 'button', class: 'password-button btn btn-secondary' %>
    </div>
  </div>
</div>