<h1>Hi, <%= @user.fullname %></h1>
<p>
 <%= @ticket.comments.last.user.fullname %> responded to the ticket you are watching: <%= @ticket.title %>
</p>
<p>Current status: <%= @ticket.status.name.humanize %></p>
<p>
  <%= link_to 'Show', ticket_url(@ticket.id), role: 'button', class: 'btn btn-primary' %>
</p>
<p>Have a nice day!</p>