<tr data-user-id="<%= user.id %>">
  <td full_name-user-id="<%= user.id %>"><%= user.full_name %></td>
  <td email-user-id="<%= user.id %>"><%= user.email %></td>
  <td role-user-id="<%= user.id %>"><%= user.role.name.humanize.to_s %></td>
  <td>
    <%= form_for(user, url: user_path(user.id), method: :put, remote: true) do |f| %>
      <div class="input-group">
        <div class="input-group-btn">
           <%= f.select :role_id, @roles, {}, class: 'custom-select' %>
        </div>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </td>
  <td status-user-id="<%= user.id %>">Status:
    <% if user.confirmed_at.nil? %>
      Inactive
    <% else %>
      Active
    <% end %>
  </td>
  <td deactivation-button-user-id="<%= user.id %>">
    <% unless user.confirmed_at.nil? %>
      <%= render 'deactivate_account_modal', user: user %>
    <% end %>
  </td>
</tr>