<div class="container">
  <h1>Users</h1>

  <table>
    <tr>
      <th>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Results
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to '10', users_path(:number => 10, :filter_param => params[:filter_param], :sorted_by => params[:sorted_by]), class: 'dropdown-item' %>
            <%= link_to '30', users_path(:number => 30, :filter_param => params[:filter_param], :sorted_by => params[:sorted_by]), class: 'dropdown-item' %>
            <%= link_to '50', users_path(:number => 50, :filter_param => params[:filter_param], :sorted_by => params[:sorted_by]), class: 'dropdown-item' %>
          </div>
        </div>
      </th>
      <th>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'All', users_path(:number => params[:number], :filter_param => "all", :sorted_by => params[:sorted_by]), class: 'dropdown-item' %>
            <%= link_to 'Locked', users_path(:number => params[:number], :filter_param => "locked", :sorted_by => params[:sorted_by]), class: 'dropdown-item' %>
            <%= link_to 'Unlocked', users_path(:number => params[:number], :filter_param => "unlocked", :sorted_by => params[:sorted_by]), class: 'dropdown-item' %>
          </div>
        </div>
      </th>
    </tr>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name<%= link_to "<span>&#8593;</span>".html_safe, users_path(:number => params[:number], :filter_param => params[:filter_param], :sorted_by => "last_name_desc"), class: 'arrow-up' %> <%= link_to "<span>&#8595;</span>".html_safe, users_path(:number => params[:number], :filter_param => params[:filter_param], :sorted_by => "last_name_asc"), class: 'arrow-down' %> </th>
        <th>Email<%= link_to "<span>&#8593;</span>".html_safe, users_path(:number => params[:number], :filter_param => params[:filter_param], :sorted_by => "email_desc"), class: 'arrow-up' %> <%= link_to "<span>&#8595;</span>".html_safe, users_path(:number => params[:number], :filter_param => params[:filter_param], :sorted_by => "email_asc"), class: 'arrow-down' %> </th>
        <th colspan="2">Change role</th>
      </tr>
    </thead>
    <tbody>
      <% cache @users do %>
        <% @users.each do |user| %>
          <%= render 'user', user: user %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if @users.any? %>
    <div>
      <%= will_paginate @users, :container => false %>
    </div>
  <% end %>
</div>