.container
  %h1 Users
  %table
    %tr
      %th
        .dropdown
          %button.btn.btn-secondary.dropdown-toggle#dropdownMenuButton{ type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
            Results
          .dropdown-menu#results{ 'aria-labelledby': 'dropdownMenuButton' }
            = render 'results'
      %th
        .dropdown
          %button.btn.btn-secondary.dropdown-toggle#dropdownMenuButton{ type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
            Filter
          .dropdown-menu#filters{ 'aria-labelledby': 'dropdownMenuButton' }
            = render 'filters'

  %table.table.table-striped
    %thead
      %tr#table_header
        = render 'table_header'
    %tbody#users
      = render partial: 'user', collection: @users, as: :user
  - if @users.any?
    %div
      = will_paginate @users, :container => false 
