<div class="container">
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>
  <h1>My tickets</h1>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Results
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to '10', user_dashboard_path(:number => 10), class: 'dropdown-item' %>
        <%= link_to '30', user_dashboard_path(:number => 30), class: 'dropdown-item' %>
        <%= link_to '50', user_dashboard_path(:number => 50), class: 'dropdown-item' %>
      </div>
    </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Last response</th>
            <th scope="col">Recent comments</th>
          </tr>
        </thead>
        <tbody> 
          <% if @tickets.any? %>
            <% @tickets.each do |ticket| %>
              <tr>
                <td><%= link_to ticket.title, ticket_path(id: ticket.id) %></td>
                <td>
                  <div class="<%= ticket.status.name %>">
                    <%= ticket.status.name.humanize.to_s %>
                  </div>
                </td>
                <td>
                  <% if ticket.comments.any? %>
                    <%= ticket.comments.last.updated_at.in_time_zone("Warsaw").strftime("%k:%M %d-%m-%Y") %>                
                  <% else %>
                    <%= ticket.created_at.in_time_zone("Warsaw").strftime("%k:%M %d-%m-%Y") %>
                  <% end %>
                </td>
                <td>
                  <% if ticket.comments.any? %>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        See comments
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% ticket.comments.last(6).reverse_each do |comment| %>
                          <a class="dropdown-item-text" data-toggle="tooltip" title="<%= comment.body %>">
                            <b><%= "#{comment.user.fullname}(#{comment.user.role.name})" %></b><%= "(#{comment.created_at.in_time_zone("Warsaw").strftime("%k:%M")}): #{comment.body.truncate(40, omission: '... (continued)')}" %>
                          </a>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% if @tickets.any? %>
      <div>
        <%= will_paginate @tickets, :container => false %>
      </div>
    <% end %>
</div>
