<div class="jumbotron">
	<h2><%= current_user.fullname %></h2>
</div>

<div class="containter authors-display">
	<p>
		<strong>Email:</strong>		
  	<%= current_user.email %><br />
		<strong>Name:</strong>		
		<%= current_user.first_name %><br />
		<strong>Lastname:</strong>		
		<%= current_user.last_name %><br />
		<strong>Created at:</strong>		
		<%= current_user.created_at %><br />
		<strong>Updated at:</strong>		
		<%= current_user.updated_at %><br />
	</p>
</div>

<% if current_user.tickets.any? %>
  <div class="authors-tickets">
    <h2>Tickets</h2>
    <table class="table">
      <thead>
        <th>Title</th>
        <th>Status</th>
        <th>Updated at</th>
      </thead>
      <tbody>
        <% current_user.tickets.each do |ticket| %>
          <%= render 'tickets/ticket', ticket: ticket %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="jumbotron">
	<h2>Comments</h2>
</div>
<div>
	<% current_user.comments.each do |comment| %>
		<p>
		<strong>Body:</strong>
		<%= comment.body %>
		<br />
		<%= link_to 'Destroy', [comment.user, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
		</p>
	<% end %>
</div>

<div class="jumbotron">
	<h2>Add new comment</h2>
</div>

<div>
	<%= render 'comments/form' %>
</div>
