<div class="containter">
  <div class="jumbotron">
    <h2><%= current_user.fullname %></h2>
  </div>

  <div class="containter">
    <p>
      <strong>Email:</strong>   
      <%= current_user.email %><br />
      <strong>Name:</strong>    
      <%= current_user.first_name %><br />
      <strong>Lastname:</strong>    
      <%= current_user.last_name %><br />
      <strong>Created at:</strong>    
      <%= current_user.created_at %><br />
      <strong>Updated at:</strong>    
      <%= current_user.updated_at %><br />
    </p>
  </div>

  <% if current_user.tickets.any? %>
    <% current_user.tickets.each do |ticket| %>
      <div>
        <table class="table">
          <tbody>
            <tr>
              <th><%= render 'tickets/ticket', ticket: ticket %></th>
            </tr>         
          </tbody>
        </table>
      </div>
      <% end %>
  <% end %>
</div>