<div class="container">
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>
  <h1>My tickets</h1>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Last response</th>
            <th scope="col">Recent comments</th>
          </tr>
        </thead>
        <tbody> 
          <% if current_user.tickets.any? %>
          <% current_user.tickets.each do |ticket| %>
            <tr>
              <td class="align-middle"><%= link_to ticket.title, ticket_path(id: ticket.id) %></td>
              <td class="align-middle"><%= ticket.status.status.humanize.to_s %></td>
              <td class="align-middle">
                <% unless ticket.comments.empty? %>
                  <%= ticket.comments.last.updated_at.in_time_zone("Warsaw").strftime("%k:%M %d-%m-%Y") %>
                <% end %>
              </td>
              <td class="align-middle">
                <div class="dropdown">
                  <% unless ticket.comments.empty? %>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      See comments
                    </button>
                  <% end %>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% ticket.comments.last(6).reverse_each do |comment| %>
                      <a class="dropdown-item-text" data-toggle="tooltip" title="<%= comment.body %>">
                        <strong><%= comment.user.role.name %></strong>
                        <%= '(' + comment.created_at.in_time_zone("Warsaw").strftime("%k:%M") + '): ' + comment.body.truncate(40, omission: '... (continued)') %>
                      </a>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>
