<div class="container">
  <h1>My tickets</h1>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Last response</th>
            <th scope="col">Recent comments</th>
          </tr>
        </thead>
        <tbody> 
          <% if current_user.tickets.any? %>
          <% current_user.tickets.each do |ticket| %>
            <tr>
              <td><%= link_to ticket.title, ticket_path(id: ticket.id) %></td>
              <td><%= ticket.status.name.humanize.to_s %></td>
              <td>
                <% if ticket.comments.any? %>
                  <%= ticket.comments.last.updated_at.in_time_zone("Warsaw").strftime("%k:%M %d-%m-%Y") %>
                <% end %>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    See comments
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% ticket.comments.last(6).reverse_each do |comments| %>
                      <a class="dropdown-item-text">
                        <strong><%= comments.user.role.name %></strong><%= '(' + comments.created_at.in_time_zone("Warsaw").strftime("%k:%M") + '): ' + comments.body %>
                      </a>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>
