<% if user_signed_in? %>
<div class="jumbotron">
	<h2><%= @user.fullname %></h2>
</div>

<div class="containter authors-display">
	<p>
		<strong>Email:</strong>		
		<%= @user.email %>
		<hr />
		<strong>Name:</strong>		
		<%= @user.first_name %>
		<hr />
		<strong>Lastname:</strong>		
		<%= @user.last_name %>
		<hr />
		<strong>Created at:</strong>		
		<%= @user.created_at %>
		<hr />
		<strong>Updated at:</strong>		
		<%= @user.updated_at %>
	</p>
</div>

<div class="jumbotron">
	<h2>Comments</h2>
</div>
<div>
	<% @user.comments.each do |comment| %>
		<p>
		<strong>Body:</strong>
		<%= comment.body %>
		<br />
		<%= link_to 'Destroy', [comment.user, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
		</p>
	<% end %>
</div>

<div class="jumbotron">
	<h2>Add new comment</h2>
</div>

<div>
	<%= render 'comments/form' %>
</div>

<% end %>