<div class="jumbotron">
	<h2><%= current_user.fullname %></h2>
</div>

<div class="container authors-display">
	<p>
		<strong>Email:</strong>		
  		<%= current_user.email %><br />
		<strong>Name:</strong>		
		<%= current_user.first_name %><br />
		<strong>Lastname:</strong>		
		<%= current_user.last_name %><br />
		<strong>Created at:</strong>		
		<%= current_user.created_at %><br />
		<strong>Updated at:</strong>		
		<%= current_user.updated_at %><br />
	</p>
</div>

<% if current_user.tickets.any? %>
  <div class="authors-tickets">
    <h2>Tickets</h2>
    <table class="table">
      <tbody>
        <% current_user.tickets.each do |ticket| %>
          <%= render 'tickets/ticket', ticket: ticket %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>