<div class="container">
  <div class="password row">
    <div class="col-md-6 offset-md-3">
      <h2 class="password-header">Forgot your password?</h2>
      <div class="password-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="password-field">
          <%= f.label :email, class: 'password-label' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
      </div>
      <%= link_to 'Back', root_url, role: 'button', class: 'password-button btn btn-secondary' %>
    </div>
  </div>
</div>
