%tr
  %td= ticket.user.fullname
  %td= link_to ticket.title, ticket_path(id: ticket.id)
  %td= ticket.department.name
  %td
    - if ticket.comments.any?
      = ticket.comments.last.updated_at.in_time_zone("Warsaw").strftime("%k:%M %d-%m-%Y")                
    - else
      = ticket.created_at.in_time_zone("Warsaw").strftime("%k:%M %d-%m-%Y")
  %td
    %div{ class: "#{ticket.status.name}" }
      = ticket.status.name.humanize
