<tr>
  <td><%= ticket.user.fullname %></td>
  <td><%= link_to ticket.title, ticket_path(id: ticket.id) %></td>
  <td><%= ticket.department.name %></td>
  <td>
    <% if ticket.comments.any? %>
      <%= ticket.comments.last.updated_at.in_time_zone("Warsaw").strftime("%k:%M %d-%m-%Y") %>                
    <% else %>
      <%= ticket.created_at.in_time_zone("Warsaw").strftime("%k:%M %d-%m-%Y") %>
    <% end %>
  </td>
  <td>
    <div class="<%= ticket.status.name %>">
        <%= ticket.status.name.humanize %>
    </div>
  </td>
</tr>