<h1>All Tickets</h1>
<table class="table">
  <thead>
    <th>Author</th>
    <th>Title</th>
    <th>Note</th>
    <th>Department</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.user.full_name %></td>
        <td><%= truncate(ticket.title) %></td>
        <td><%= truncate(ticket.note) %></td>
        <td><%= ticket.department.department_name %></td>
        <td><%= ticket.status %></td>
        <td><%= link_to 'Show', show_tickets_path(ticket.id), role: 'button', class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>