<div class="container">
  <h1>All Tickets</h1>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Count
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to '10', show_tickets_path(:number => 10), class: 'dropdown-item' %>
      <%= link_to '30', show_tickets_path(:number => 30), class: 'dropdown-item' %>
      <%= link_to '50', show_tickets_path(:number => 50), class: 'dropdown-item' %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Department</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% cache @tickets do %>
        <% @tickets.each do |ticket| %>
          <% cache ticket do %>
            <%= render 'ticket', ticket: ticket %>
          <% end %>
          <!-- <tr>
            <td><%= ticket.user.fullname %></td>
            <td><%= link_to ticket.title, ticket_path(id: ticket.id) %></td>
            <td><%= ticket.department.name %></td>
            <td><%= ticket.status.name.humanize.to_s %></td>
          </tr> -->
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if @tickets.any? %>
    <div>
      <%= will_paginate @tickets, :container => false %>
    </div>
  <% end %>
  
</div>