.container
  .row
    .col-md-6
      %h1 All Tickets
    .col-md-4.offset-md-2.ticket-searchEngine
      = render 'tickets/partials/search_engine'

  %table
    %tr
      %th
        .dropdown
          %button.btn.btn-secondary.dropdown-toggle#resultsDropdown{ type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
            Results
          .dropdown-menu#results{ 'aria-labelledby': 'dropdownMenuButton' }
            = render 'tickets/partials/results'
      %th
        .dropdown
          %button.btn.btn-secondary.dropdown-toggle#filterDropdown{ type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
            Filter by status
          .dropdown-menu#filters{ 'aria-labelledby': 'dropdownMenuButton' }
            = render 'tickets/partials/filters'

  %table.table.table-striped
    %thead#tableHeader
      = render 'tickets/partials/table_header'
    %tbody#tickets
      = render partial: 'tickets/partials/ticket', collection: @tickets, as: :ticket
  - if @tickets.any?
    %div
      = will_paginate @tickets, :container => false
