<h1> Report new ticket </>

<% if @ticket.errors.any? %>
  <ul>
    <% @ticket.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>
<div class="container">
<%= form_for [current_user, current_user.tickets.build] do |f| %>
  <%= f.select :department_id, @departments, {}, class: 'custom-select' %>
  <hr />
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <hr />
  <%= f.label :note %>
  <%= f.text_field :note, class: 'form-control' %>
  <hr />
 
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
</div>