<% if @ticket.errors.any? %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 alert alert-danger">
        <h5><%= pluralize(@ticket.errors.count, 'error') %> prohibited this ticket from being saved</h5>
        <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1><center> Create new ticket </center></h1> 
      <%= form_for @ticket, url: user_tickets_path(current_user.id) do |f| %>
        <%= f.label :department_id %>
        <%= f.select :department_id, @departments, {}, class: 'custom-select' %>
        <hr />
        <%= f.label :title %>
        <%= f.text_field :title, maxlength: '50', class: 'form-control' %>
        <hr />
        <%= f.label :note , 'Body' %>
        <%= f.text_area :note, class: 'form-control', cols: '16', rows: '6' %>
        <hr />
        <%= f.label :uploads , 'Attachments' %><br/>
        <%= f.file_field :uploads, class: 'form-control', multiple: true, class: 'btn btn-default' %>
        <hr />
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>