<div class="container">
  <br />
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>

  <% if @ticket.closed? %>
    <div class="ticket-closed-message mb-2 bg-danger text-white">
      <tr>
        <td class="align-text-bottom">
          <h2>
            <p class="text-center">THIS TICKET IS CLOSED</p>
          </h2>
        </td>
      </tr>
    </div>
  <% end %>
  <div class="jumbotron p-2 bg-light">
    <div class="tickets-display" align="center">
      <table class="ticket-properties-table">
        <thead>
          <tr>
            <th><b>Title:</b></th>
            <th><b>User:</b></th>
            <th><b>Created at:</b></th>
            <th><b>Status:</b></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @ticket.title %></td>
            <td><%= @ticket.user.fullname %></td>
            <td><%= @ticket.created_at.strftime("%Y.%m.%d %H:%M") %></td>
            <td><%= @status %></td>
            <td>
              <% unless @ticket.closed? %>
                <%= render 'lock_ticket_modal', ticket: @ticket %>
              <% end %>
            </td>
        </tbody>
      </table>
    </div>
    <hr/>

    <div class="ticket-note text-left">
      <p><%= sanitize @ticket.note.gsub(/\n/, '<br />').html_safe %></p>
    </div>
    <% if @ticket.uploads.attached? %>
    <hr />
      <div class="ticket-attachements">
        <table>
          <thead>
            <th>Attachements:</th>
          </thead>
          <tbody>
            <% @ticket.uploads.each_with_index do |upload, i| %>
              <tr><td><%= link_to("#{upload.filename}", rails_blob_path(upload, disposition: "attachment")) %></td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <div class="jumbotron p-2 bg-light">
  <div class="commentSection" data-ticket-id="<%= @ticket.id %>">
  <% @comments.each do |comment| %>
    <% if comment.user.id == current_user.id %>
      <%= render 'comments/comment', comment: comment, align: 'right' %>
    <% else %>
      <%= render 'comments/comment', comment: comment, align: 'left' %> 
    <% end %> 
  <% end %>
  </div>
  <% unless @ticket.closed? %>
    <br />
    <div class="tickets-display">
      <%= render 'comments/form' %>
    </div>
  <% end %>
</div>