<div class="container">
  <br />
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>

  <% if @ticket.closed? %>
    <div class="ticket-closed-message mb-2 bg-danger text-white">
      <tr>
        <td class="align-text-bottom">
          <h2>
            <p class="text-center">THIS TICKET IS CLOSED</p>
          </h2>
        </td>
      </tr>
    </div>
  <% end %>
  <div class="jumbotron p-2 bg-light">
    <b>Ticket</b>
    <div class="tickets-display" align="center">
      <table class="ticket-properties-table">
        <thead>
          <tr>
            <td><b>Title:</b></td>
            <td><b>User:</b></td>
            <td><b>Created at:</b></td>
            <td><b>Status:</b></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @ticket.title %></td>
            <td><%= @ticket.user.fullname %></td>
            <td><%= @ticket.created_at.strftime("%Y.%m.%d %H:%M") %></td>
            <td><%= @status %></td>
            <td>
              <% unless @ticket.closed? %>
                <%= render 'lock_ticket_modal', ticket: @ticket %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="5" class="ticket-note">
              <hr />
              <div class="text-left">
                <%= sanitize(@ticket.note).gsub("\n", "<br />").html_safe %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <% if @ticket.uploads.attached? %>
                <hr />
                <strong>Attachments: </strong> 
                <br />
                <% @ticket.uploads.each_with_index do |upload, i| %>
                  <%= link_to("Document #{i+1}", rails_blob_path(upload, disposition: "attachment")) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr />

  <div class="jumbotron p-2 bg-light">
  <b>Comments</b>
  <div class="commentSection" data-ticket-id="<%= @ticket.id %>">
    <% cache @ticket.comments do %>
      <% @ticket.comments.each do |comment| %>
        <% cache comment do %>
          <% if comment.user.id == current_user.id %>
            <%= render 'comments/comment', comment: comment, align: 'right' %>
          <% else %>
            <%= render 'comments/comment', comment: comment, align: 'left' %> 
          <% end %> 
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% unless @ticket.closed? %>
    <br />
    <div class="tickets-display">
      <%= render 'comments/form' %>
    </div>
  <% end %>
</div>