<div class="container">
  <br />
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>

  <% if @ticket.closed? %>
    <div class="ticket-closed-message mb-2 bg-danger text-white">
      <tr>
        <td class="align-text-bottom">
          <h2>
            <p class="text-center">THIS TICKET IS CLOSED</p>
          </h2>
        </td>
      </tr>
    </div>
  <% end %>

  <div class="tickets-display" style="border: none">
    <table class="table table-borderless">
      <thead>
        <tr>
          <td class="align-middle" align="center">Title:</td>
          <td class="align-middle" align="center">User:</td>
          <td class="align-middle" align="center">Created at:</td>
          <td class="align-middle" align="center">Status:</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-middle" align="center"><%= @ticket.title %></td>
          <td class="align-middle" align="center"><%= @ticket.user.fullname %></td>
          <td class="align-middle" align="center"><%= @ticket.created_at.strftime("%Y.%m.%d %H:%M") %></td>
          <td class="align-middle" align="center"><%= @ticket.status.status.humanize.to_s %></td>
          <td class="align-middle" align="right">
            <% unless @ticket.closed? %>
              <%= render 'lock_ticket_modal', ticket: @ticket %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <%= @ticket.note %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="jumbotron p-2 bg-light">
    <b>Comments</b>
    <% @ticket.comments.each do |comment| %>
      <div>
        <% if comment.user.id == current_user.id %>
          <div align="right">
            <div class="comments-section darker p-2 w-75">
              <span class="time-right">
                <a data-toggle="tooltip" title="<%= comment.created_at.strftime("%A, %Y.%m.%d, %H:%M") %>">
                  <span class="time-right">
                  <%= comment.created_at.strftime("%H:%M") %>
                  </span>
                </a>
              </span>
              <b class="commenter-name"><%= comment.user.fullname + ' (' + comment.user.role.name + ')' %></b>
              &emsp;
              <br />          
              <%= comment.body %>      
              <br />
            </div>
          </div>
        <% else %>
          <div class="comments-section p-2 w-75">
            <span class="time-left">
              <a data-toggle="tooltip" title="<%= comment.created_at.strftime("%A, %Y.%m.%d, %H:%M") %>">
                <span class="time-left">
                  <%= comment.created_at.strftime("%H:%M") %>
                </span>
              </a>
            </span>
            &emsp;
            <b class="commenter-name"><%= comment.user.fullname + ' (' + comment.user.role.name + ')' %></b>
            <br />
            <%= comment.body %>
            <br />  
          </div>
        <% end %>
      </div>
    <% end %>

  <% unless @ticket.closed? %>
    <br />
    <div class="tickets-display">
      <%= render 'comments/form' %>
    </div>
  <% end %>
</div>