<div class="container">
  <div class="login row">
 
      <div class="col-md-6 offset-md-3">
        <h2 class="login-header">Log in</h2>

        <div class="login-form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         
              <div class="login-field">
                <%= f.label :email, class: 'login-label' %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>
        
              <div class="login-field">
                <%= f.label :password, class: 'login-label' %>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="login-field">
                <% if devise_mapping.rememberable? -%>
                  <div class="form-group form-check">
                    <%= f.check_box :remember_me, class: 'form-check-input' %>
                    <%= f.label :remember_me, class: 'form-check-label' %>
                  </div>
                <% end -%>
              </div>

            <%= f.submit "Log in", class: 'login-button btn btn-primary btn-block' %>
          <% end %>
        </div>

        <div class="login-link">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name) %><br />
          <% end -%>
        </div>
        
        <div class="login-link">
          <%= link_to 'Forgotten password?', new_password_path(resource_name) %>
        </div>

        <div class="login-link">
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
          <% end -%>
        </div>

      </div>
  </div>
</div>