<div class="container">
  <div class="login row">
    <div class="login-form col-md-6 offset-md-3">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "binarapps@example.com", class: 'form-control' %>

    
          <%= f.label :password %>
          <%= link_to '(Forgotten password?)', new_password_path(resource_name) %>
          <%= f.password_field :password, autocomplete: "off", placeholder: '*'*8 , class: 'form-control' %>
     

        <% if devise_mapping.rememberable? -%>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end -%>


        <%= f.submit "Log in", class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>