%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %span.navbar-brand
    = link_to 'Tickets App', user_dashboard_path, class: 'navbar-brand'
  %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarSupportedContent', 'aria-controls': 'navbarSupportedContent', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
  .collapse.navbar-collapse#navbarSupportedContent
    - if user_signed_in?
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to 'New Ticket', new_ticket_path, class: 'nav-link'
        %li.nav-item.active
          = link_to 'My Tickets', user_dashboard_path, class: 'nav-link'
        - if current_user.it_support?
          %li.nav-item.active
            = link_to 'IT Tickets', show_tickets_path, class: 'nav-link'
        - elsif current_user.om_support?
          %li.nav-item.active
            = link_to 'OM Tickets', show_tickets_path, class: 'nav-link'
        - elsif current_user.admin?
          %li.nav-item.active
            = link_to 'All Tickets', show_tickets_path, class: 'nav-link'
          %li.nav-item.active
            = link_to 'Users', users_path, class: 'nav-link'
      %ul.navbar-nav.mr-sm-2
        %li.nav-item.dropdown.active
          %a.nav-link.dropdown-toggle#navbarDropdown{ role: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': true, 'aria-expanded': false }
            = current_user.fullname
          .dropdown-menu{ 'aria-labelledby': 'navbarDropdown' }
            = link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
    - else
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to 'Register', new_user_registration_path, class: 'nav-link'
        %li.nav-item.active
          = link_to 'Login', new_user_session_path, class: 'nav-link'
