\<!DOCTYPE html>
%html
  %head
    %title
      Tickets
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    \<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"/>
    = action_cable_meta_tag
  %body
    #container
      #header
        = render 'layouts/partials/navbar'
      #body
        = render 'layouts/partials/flash'
        .container
          = yield
      #footer
        = render 'layouts/partials/footer'
