<!DOCTYPE html>
<html>
  <head>
    <title>Tickets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <%= render 'layouts/partials/navbar' %>
      </div>
      <div id="body">
        <%= render 'layouts/partials/flash' %>
        <div class="container">
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <%= render 'layouts/partials/footer' %>
      </div>
    </div>
  </body>
</html>
