<!DOCTYPE html>
<html>
  <head>
    <title>Tickets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'cable' %>

    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <%= render 'layouts/partials/navbar' %>
      </div>
      <div id="body">
        <%= render 'layouts/partials/flash' %>
        <div class="container">
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <%= render 'layouts/partials/footer' %>
      </div>
    </div>
  </body>
</html>
